In [ ]:
import pandas as pd
import numpy as np

# 1 Creating a dataFrame from an array
## Option 1

In [5]:
# creating an array
data=np.array([[1,4],[2,5],[3,6]])

In [ ]:
## create a dataframe
#1st arg is data
#In pandas rows are called index 
df=pd.DataFrame(data,index=['row1','row2','row3'],
            columns=['col1','col2'])

In [14]:
#showing the dataframe
df

      col1  col2
row1     1     4
row2     2     5
row3     3     6

## Option 2

In [16]:
data=[[1,4],[2,5],[3,6]]

# 2 Creating a DataFrame fron a dictionary

In [17]:
#List used for this example
states=['California','Texas','Florida','New York']
population=[100,200,310,400]

In [18]:
#Storing lists within dictionary
dict_states={'States':states,'Population':population}

In [19]:
# Creating the dataframe
df_population=pd.DataFrame(dict_states)

In [20]:
df_population

       States  Population
0  California         100
1       Texas         200
2     Florida         310
3    New York         400

# 3 Creating a DataFrame from a csv file

In [23]:
df_exam=pd.read_csv('/home/dev16/Downloads/StudentsPerformance.csv')

In [25]:
#Shows first 5 rows
df_exam.head()

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75